<section class="about padding-section">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__header">
        <h3 class="about__title">О НАС и НАШЕМ БИЗНЕСЕ</h3>
        <p class="about__subtitle">
          Каждому клиенту мы гарантируем взаимовыгодные условия сотрудничества.
          Мы дорожим своими заказчиками, поэтому брак и низкокачественный металл
          никогда не поступают на склады предприятия. С нами – надежно, выгодно
          и безопасно!
        </p>
      </div>
      <div class="about__grid">
        {{>card-about img='/src/assets/img/about-svg1.svg' title='Постоянное
        наличие' text='Прямая работа с производителем обеспечивает постоянное
        наличие  всех видом металлопроката'}}
        <!-- pretire-ignore -->
        {{>card-about img='/src/assets/img/about-svg2.svg' title='Собственный
        автопарк' text='Автомобили грузоподъемностью от 1.5 до 20 тонн. Всегда
        быстрая доставка.'}}
        <!-- pretire-ignore -->
        {{>card-about img='/src/assets/img/about-svg3.svg' title='Объемы
        поставок' text='Собственная служба доставки, гаранатирует вам поставку
        материалов на объект  в кратчайшие сроки.'}}
        <!-- pretire-ignore -->
        {{>card-about img='/src/assets/img/about-svg4.svg' title='Справедливая
        цена' text='Собственные ресурсы и транспорт позволяют снижать
        стоимость.'}}
        <!-- pretire-ignore -->
        {{>card-about img='/src/assets/img/about-svg5.svg' title='Обработка
        заявки < 30 минут' text='Отдел продаж, насчитывающий более 80
        сотрудников, не оставит вашу заявку без внимания.'}}
        <!-- pretire-ignore -->
        {{>card-about img='/src/assets/img/about-svg6.svg' title='Погрузка без
        очередей' text='Развитая складская логистика  позволяет отгружать
        продукцию  всегда без очередей.'}}
      </div>
    </div>
  </div>
</section>
