<section class="catalog padding-section">
  <div class="container">
    <div class="catalog__title title">КАТАЛОГ ТОВАРОВ</div>
    <div class="catalog__tags">
      <div class="catalog__tag button button--outline active">
        Все материалы
      </div>
      <div class="catalog__tag button button--outline">Металлочерепица</div>
      <div class="catalog__tag button button--outline">Профнастил</div>
      <div class="catalog__tag button button--outline">Фальцевая кровля</div>
    </div>
    <div class="catalog__wrapper">
      <div class="catalog__subtitle">МЕТАЛЛОЧЕРЕПИЦА</div>
      <div class="catalog__grid">
        {{>card-catalog}} {{>card-catalog}} {{>card-catalog}} {{>card-catalog}}
        {{>card-catalog}}{{>card-catalog}} {{>card-catalog}} {{>card-catalog}}
      </div>
      <div class="catalog__subtitle">Профнастил</div>
      <div class="catalog__grid">
        {{>card-catalog}} {{>card-catalog}} {{>card-catalog}} {{>card-catalog}}
        {{>card-catalog}}{{>card-catalog}} {{>card-catalog}} {{>card-catalog}}
      </div>
      <div class="catalog__subtitle">Фальцевая кровля</div>
      <div class="catalog__grid">
        {{>card-catalog}} {{>card-catalog}} {{>card-catalog}} {{>card-catalog}}
        {{>card-catalog}}{{>card-catalog}} {{>card-catalog}} {{>card-catalog}}
      </div>
    </div>
  </div>
</section>
