<section class="full-card">
  <div class="container">
    <div class="full-card__wrapper">
      <img
        src="/src/assets/img/full-card-img.png"
        alt="full"
        class="full-card__img"
      />
      <div class="full-card__info">
        <p class="full-card__title">Металлочерепица Classic</p>
        <ul class="full-card__proportions">
          <li>
            <p>Бренд</p>
            <p>Grande Line</p>
          </li>
          <li>
            <p>Высота волны, мм</p>
            <p>23.5</p>
          </li>
          <li>
            <p>Высота ступеньки, мм</p>
            <p>20</p>
          </li>
        </ul>
        <p class="full-card__price">от &nbsp;<span>433 ₽ / м²</span></p>
        <div class="full-card__options">
          <div class="full-card__option full-card__option-1">
            <p>Цвет</p>
            <select name="color">
              <option value="RAL7004">RAL 7004</option>
              <option value="yellow">желтый</option>
              <option value="green">зеленый</option>
            </select>
          </div>
          <div class="full-card__option full-card__option-2">
            <p>Толщина</p>
            <select name="color">
              <option value="04">0,4</option>
              <option value="05">0,5</option>
              <option value="06">0,6</option>
            </select>
          </div>
          <div class="full-card__option full-card__option-3">
            <p>Поверхность</p>
            <select name="color">
              <option value="RAL7004">0,4</option>
              <option value="yellow">0,5</option>
              <option value="green">0,6</option>
            </select>
          </div>
        </div>
        <button class="button full-card__btn">Рассчитать стоимость</button>
        <!-- <a href="#" class="button button--outline full-card__btn"
          >Подробнее о товаре</a
        > -->
        <p class="full-card__info-for-item">
          Дополнительная информация о товаре
        </p>
        <div class="full-card__tags">
          <div class="full-card__tag button button--outline">
            Характеристики
          </div>
          <div class="full-card__tag button button--outline">Описание</div>
          <div class="full-card__tag button button--outline">Оплата</div>
          <div class="full-card__tag button button--outline">Доставка</div>
        </div>
      </div>
    </div>
  </div>
</section>
