<section class="hero">
  {{>sidebar}}
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__info">
        <h1 class="hero__title">
          ПРОДАЖА кровельных материалов
          <span>с доставкой  по Санкт-Петербургу  и области</span> в день заказа
        </h1>
        <h2 class="hero__subtitle">
          За 1 минуту пройдите тест и
          <span>рассчитайте стоимость кровли</span> под ваш объект  с точностью
          97% и получите подарки
        </h2>
        <button class="button hero__btn">
          РАССЧИТАТЬ СТОИМОСТЬ МАТЕРИАЛОВ
        </button>
      </div>
    </div>
  </div>
  <img
    src="/src/assets/img/hero-bg-mobis.png"
    class="hero__img-mbil"
    alt="hous"
  />
</section>
