<section class="section-test padding-section">
  <img
    src="/src/assets/img/test/bg-left.png"
    alt=""
    class="section-test__decore-img-right"
  />
  <img
    src="/src/assets/img/test/bg-right.png"
    alt=""
    class="section-test__decore-img-left"
  />
  <div class="container">
    <div class="section-test__wrapper">
      <h2 class="section-test__title title">
        <span>Пройдите тест и рассчитайте</span> стоимость кровли под ваш объект
        с точностью 97%
      </h2>
      <div class="test-box__right-block test-box-right-block-mobil">
        <img
          src="/src/assets/img/test/men.png"
          class="test-box__right-img"
          alt="men"
        />
        <div class="test-box__right__info">
          <p class="test-box__right-title">
            Ответьте на 5 вопросов  и получите в конце:
          </p>
          <ul class="test-box__right-list">
            <li>
              <span>
                <img src="/src/assets/img/test/lock.svg" alt="lock" />
              </span>
              <p>
                Бесплатный расчет стоимости кровли под ваш объект в 3-х
                вариантах
              </p>
            </li>
            <li>
              <span>
                <img src="/src/assets/img/test/lock.svg" alt="lock" />
              </span>
              <p>
                Бесплатный расчет стоимости кровли под ваш объект в 3-х
                вариантах
              </p>
            </li>
            <li>
              <span>
                <img src="/src/assets/img/test/lock.svg" alt="lock" />
              </span>
              <p>
                Бесплатный расчет стоимости кровли под ваш объект в 3-х
                вариантах
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="section-test__box test-box">
        <div class="test-box__left-block">
          <div class="test-box__progress">
            <div class="test-box__progress--fill"></div>
            <p class="test-box__progress--title">Расчет произведен на 15%</p>
          </div>
          <div class="test-box__title">
            <span>Вопрос 1 из 6:</span> Выберите тип Вашей крыши
          </div>
          <div class="test-box__subtitle">
            Выберите один из вариантов и переходите к следующему вопросу
          </div>
          <div class="test-box__grid">
            <div class="test-box-element">
              <img
                src="/src/assets/img/test/step1/img1.jpg"
                class="test-box-element__img"
                alt="img"
              />
              <p class="test-box-element__text">Односкатная</p>
            </div>
            <div class="test-box-element">
              <img
                src="/src/assets/img/test/step1/img1.jpg"
                class="test-box-element__img"
                alt="img"
              />
              <p class="test-box-element__text">Односкатная</p>
            </div>
            <div class="test-box-element">
              <img
                src="/src/assets/img/test/step1/img1.jpg"
                class="test-box-element__img"
                alt="img"
              />
              <p class="test-box-element__text">Односкатная</p>
            </div>
            <div class="test-box-element">
              <img
                src="/src/assets/img/test/step1/img1.jpg"
                class="test-box-element__img"
                alt="img"
              />
              <p class="test-box-element__text">Односкатная</p>
            </div>
            <div class="test-box-element">
              <img
                src="/src/assets/img/test/step1/img1.jpg"
                class="test-box-element__img"
                alt="img"
              />
              <p class="test-box-element__text">Односкатная</p>
            </div>
            <div class="test-box-element">
              <img
                src="/src/assets/img/test/step1/img1.jpg"
                class="test-box-element__img"
                alt="img"
              />
              <p class="test-box-element__text">Односкатная</p>
            </div>
            <div class="test-box-element">
              <img
                src="/src/assets/img/test/step1/img1.jpg"
                class="test-box-element__img"
                alt="img"
              />
              <p class="test-box-element__text">Односкатная</p>
            </div>
          </div>
          <div class="test-box__buttons">
            <button
              class="test-box__btn test-box__btn--back button button--secondary"
            >
              Назад
            </button>
            <button class="test-box__btn test-box__btn--next button">
              Далее
            </button>
          </div>
        </div>
        <div class="test-box__right-block">
          <img
            src="/src/assets/img/test/men1.png"
            class="test-box__right-img"
            alt="men"
          />
          <div class="test-box__right__info">
            <p class="test-box__right-title">
              Ответьте на 5 вопросов  и получите в конце:
            </p>
            <ul class="test-box__right-list">
              <li>
                <span>
                  <img src="/src/assets/img/test/lock.svg" alt="lock" />
                </span>
                <p>
                  Бесплатный расчет стоимости кровли под ваш объект в 3-х
                  вариантах
                </p>
              </li>
              <li>
                <span>
                  <img src="/src/assets/img/test/lock.svg" alt="lock" />
                </span>
                <p>
                  Бесплатный расчет стоимости кровли под ваш объект в 3-х
                  вариантах
                </p>
              </li>
              <li>
                <span>
                  <img src="/src/assets/img/test/lock.svg" alt="lock" />
                </span>
                <p>
                  Бесплатный расчет стоимости кровли под ваш объект в 3-х
                  вариантах
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
