<div class="card-catalog">
  <div class="card-catalog__img">
    <img src="/src/assets/img/catalog/img1.jpg" alt="catalog img 1" />
  </div>
  <div class="card-catalog__info">
    <p class="card-catalog__title">Металлочерепица Classic</p>
    <ul class="card-catalog__proportions">
      <li>
        <p>Бренд</p>
        <p>Grande Line</p>
      </li>
      <li>
        <p>Высота волны, мм</p>
        <p>23.5</p>
      </li>
      <li>
        <p>Высота ступеньки, мм</p>
        <p>20</p>
      </li>
    </ul>
    <p class="card-catalog__price">от &nbsp;<span>433 ₽ / м²</span></p>
    <div class="card-catalog__options">
      <div class="card-catalog__option card-catalog__option-1">
        <p>Цвет</p>
        <select name="color">
          <option value="RAL7004">RAL 7004</option>
          <option value="yellow">желтый</option>
          <option value="green">зеленый</option>
        </select>
      </div>
      <div class="card-catalog__option card-catalog__option-2">
        <p>Толщина</p>
        <select name="color">
          <option value="04">0,4</option>
          <option value="05">0,5</option>
          <option value="06">0,6</option>
        </select>
      </div>
      <div class="card-catalog__option card-catalog__option-3">
        <p>Поверхность</p>
        <select name="color">
          <option value="RAL7004">0,4</option>
          <option value="yellow">0,5</option>
          <option value="green">0,6</option>
        </select>
      </div>
    </div>
    <button class="button card-catalog__btn">Рассчитать стоимость</button>
    <a href="#" class="button button--outline card-catalog__btn"
      >Подробнее о товаре</a
    >
  </div>
</div>
