<div class="card-slider">
  <div class="card-slider__head">
    <div class="card-slider__img">
      <img src="/src/assets/img/slider/img1.jpg" alt="icon" />
    </div>

    <div class="card-slider__info">
      <p class="card-slider__name">Serg</p>
      <p class="card-slider__date">27.07.2022</p>
    </div>
    <img
      src="/src/assets/img/slider/yandex-map.png"
      alt=""
      class="card-slider__yandex-map"
    />
  </div>
  <p class="card-slider__test">
    Долго думал где покупать арматуру на фундамент, по рекомендации друзей
    заказывал на этой металлобазе. Менеджер Дмитрий все четко посчитал, цена
    меня устроила. Доставка была в срок. Буду и дальше с ним работать.
  </p>
</div>
