<div class="nav">
  <div class="nav__column nav__loc">
    <img src="/src/assets/img/icons/logo.svg" alt="logo" />
    <p>Санкт-Петербург, Горелово, Волхонское шоссе, 6</p>
  </div>
  <div class="nav__column nav__btns">
    <a href="#" class="nav__btns-left">
      <button class="button">PDF</button>
      <p>Скачать прайс-лист</p>
    </a>
    <a href="#" class="button nav__btns-right">Посмотреть каталог товаров</a>
  </div>
  <div class="nav__column nav__social">
    <p>Задайте вопрос online</p>
    <div class="nav__social-icons">
      <img src="/src/assets/img/icons/WhatsApp.png" alt="WhatsApp" />
      <img src="/src/assets/img/icons/Telegram.png" alt="Telegram" />
      <img src="/src/assets/img/icons/vk.png" alt="vk" />
    </div>
  </div>
  <a href="" class="nav__column nav__phone">
    <p class="nav__phone-number">+7 (812) 325-50-55</p>
    <p class="nav__phone-text">Перезвоним Вам</p>
    <div class="nav__social-icons">
      <img src="/src/assets/img/icons/WhatsApp.png" alt="WhatsApp" />
      <img src="/src/assets/img/icons/Telegram.png" alt="Telegram" />
      <img src="/src/assets/img/icons/vk.png" alt="vk" />
    </div>
  </a>
</div>
