<div class="nav-footer">
  <div class="nav-footer__column nav-footer__loc">
    <img src="/src/assets/img/icons/logo.svg" alt="logo" />
    <p>Санкт-Петербург, Горелово, Волхонское шоссе, 6</p>
  </div>
  <div class="nav-footer__column nav-footer__btns">
    <a href="#" class="nav-footer__btns-left">
      <button class="button">PDF</button>
      <p>Скачать прайс-лист</p>
    </a>
    <a href="/catalog.html" class="button nav-footer__btns-right"
      >Посмотреть каталог товаров</a
    >
  </div>
  <div class="nav-footer__column nav-footer__social">
    <p>Задайте вопрос online</p>
    <div class="nav-footer__social-icons">
      <img src="/src/assets/img/icons/WhatsApp.png" alt="WhatsApp" />
      <img src="/src/assets/img/icons/Telegram.png" alt="Telegram" />
      <img src="/src/assets/img/icons/vk.png" alt="vk" />
    </div>
  </div>
  <a href="" class="nav-footer__column nav-footer__phone">
    <p class="nav-footer__phone-number">+7 (812) 325-50-55</p>
    <p class="nav-footer__phone-text">Перезвоним Вам</p>
  </a>
</div>
