<div class="sidebar">
  <div class="sidebar__item sidebar-item">
    <div class="sidebar-item__content">
      <img
        src="/src/assets/img/hero-sidebar-svg1.svg"
        class="sidebar-item__img"
        alt="icon"
      />
      <p class="sidebar-item__text">Произвести расчет</p>
    </div>
  </div>
  <div class="sidebar__item sidebar-item">
    <div class="sidebar-item__content">
      <img
        src="/src/assets/img/hero-sidebar-svg2.svg"
        class="sidebar-item__img"
        alt="icon"
      />
      <p class="sidebar-item__text">Скачать прайс-лист</p>
    </div>
  </div>
  <div class="sidebar__item sidebar-item">
    <div class="sidebar-item__content">
      <img
        src="/src/assets/img/hero-sidebar-svg3.svg"
        class="sidebar-item__img"
        alt="icon"
      />
      <p class="sidebar-item__text">Перезвоните мне</p>
    </div>
  </div>
</div>
