// ==============================================
// variables plugin fabula:
// ==============================================
$text: #44444e;
$white: #fff;
$text-2: #69686f;
$font-family: "Gilroy", sans-serif;
$second-family: "Montserrat", sans-serif;
$third-family: "Proxima Nova", sans-serif;
$font3: "Geometria", sans-serif;
// ==============================================
// Colors
// ==============================================
//primary colors
$color-primary: #f90;
// button colors
$btn-color-primary: $color-primary;
$btn-color-secondary: radial-gradient(
  106.03% 136.67% at 50% 0%,
  #f1f1f1 0%,
  #bec8dc 100%
);
$btn-border-radius-L: 60px;
$btn-border-radius-M: 15px;
$btn-border-radius-S: 10px;

// ==============================================
// Typography
// ==============================================

$font-family-base: "Inter";
$font-family-heading: "Georgia", serif;
$font-family-mono: "SFMono-Regular";

$font-size-base: 16px;

$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-md: 1.125rem; // 18px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 2rem; // 32px
$font-size-xxxl: 2.5rem; // 40px

// ==============================================
// Borders
// ==============================================

$border-radius-15: 15px; // 16px
$border-radius-30: 30px;
$border-radius-circle: 50%;

// ==============================================
// Breakpoints
// ==============================================

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// ==============================================
// Container
// ==============================================

$container-max-width: 1200px;
